.app
    max-width 80%
    margin 0 auto

/* Sections */
.header,
.main
	display flex
	align-items justify
.header-left
	width 30%
.header-right
	width 70%
.filters
	width 20%
.results
	width 80%
	display flex
	flex-wrap wrap
.column-3
	width 33.33%
	padding-left 10px
	padding-right 10px
	box-sizing border-box
	display flex
	flex-direction column