doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")
        link(href="/vendor/awesomplete/awesomplete.css", rel="stylesheet")

    body
        .app.container
            header.header
                .header-left
                    h1.header-logo Finder challenge
                .header-right
                    .header-search-form
                        input#inputSearch(type="text")
                        button#buttonSearch(disabled) Buscar
                        a(href="#") Guardar Búsqueda
            main.main
                aside.filters
                content.results

            

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")
        script(src="/vendor/jquery/dist/jquery.min.js")
        script(src="/vendor/awesomplete/awesomplete.min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/enable-button.js")
        script(src="/scripts/autocomplete.js")
        script(src="/scripts/app.js")
